{% extends 'layouts/base.html' %}

{% block content %}
    <div class="container">
        <p>{{ problem.name }}</p>
        <div class="row">
            <p>
                {% autoescape off %}
                    {{ problem.description_html }}
                {% endautoescape %}
            </p>
        </div>
        
    
    <div id="editor" style="height: 300px">function foo(items) {
            var x = "All this is syntax highlighted";
            return x;
        }
    </div>


    </div>
            
        <script src="https://pagecdn.io/lib/ace/1.4.5/ace.js" type="text/javascript" charset="utf-8"></script>
        <script>
            var editor = ace.edit("editor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/javascript");
        </script>




{% endblock %}